
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
html{
    font-size: 18px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100vw;
    height: 100vh;
    background: url(https://cdn.statusqueen.com/desktopwallpaper/thumbnail/ROG-Pugio-Hd_4k_desktop_wallpaper_photos4-558.jpg) no-repeat center fixed;
    background-size: cover;
}
.form-box{
    height: 500px;
    width: 400px;
    flex-direction: column;
    border: solid 2px rgba(255, 255, 255, 0.667);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.434);
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.473);
    overflow: hidden;
    user-select: none;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.input-box{
    width: 350px;
    height: 80px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.667);
    /* border-radius: 3px; */
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.25rem 0;

    /* border: solid 2px white; */
}
.input-holder{
    width: 348px;
    height: fit-content;
    justify-content: space-between;


    /* border: solid 2px white; */
}

.input-box label{
    width: 320px;
    color: rgb(209, 209, 209);
    font-size: 0.9rem;
    padding: 0 0.25rem ;
    cursor: pointer;
    position: relative;
    top: 23px;
    transition: all 0.2s ease-in-out;
}
.input-box input{
    color: white;
    width: 320px;
    font-size: 0.9rem;
    padding: 0.25rem ;
    background: transparent;
    outline: none;
    border: none;
}
ion-icon{
    font-size: 22px;
    font-weight: bold;
}

.declaration-box{
    width: 350px;
    padding: 0.25rem;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.declaration-box label{
    font-size: 0.9rem;
    padding: 0 0.25rem ;
    cursor: pointer;
}
.declaration-box input{
    width: 15px;
    height: 15px;
}

button{
    margin-top: 2rem;
    font-size: 0.9rem;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.178);
    border-radius: 20px;
    padding: 0.5rem 2rem;
    justify-content: space-around;
}


@media screen and (max-width:426px){
    html{
        font-size: 14px;
    }
    .form-box{
        height: 450px;
        width: 350px;
    }
    .input-box{
        width: 300px;
        height: 70px;
    }

    .input-holder{
        width: 295px;
    }
    .input-box label,.input-box input{
        width: 270px;
    }

    .declaration-box{
        width: 300px;
    }

}
